* {
    box-sizing: border-box;
}

body {
    background-image: url('./images/samuel-zeller-4138-unsplashCC.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 2px;
}

nav {
    background-color: #1851ce;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 70px;
    padding: 5px 15px;
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #fff;
    padding: 15px;;
    text-shadow: 1px 1px #000;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

nav li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #c94e50;
}

main {
    height: 400px;
}

.splash-text {
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    margin-top: 50px;
    background-color: rgba(230, 232, 239, 0.9);
    padding: 15px;
    font-size: 20px;
}

h1 {
    font-size: 22px;
    color: #fff;
    text-shadow: 1px 1px #000;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    color: #000;
    text-shadow: 1px 1px #fff;
    font-weight: 500;
    text-align: center;
}

.itals {
    font-style: italic;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #737884;
    height: 25px;
}

.copyright {
    font-size: 10px;
    text-align: center;
}

.kanga {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.home {
    height: 500px;
}

#speakers {
    background-color: #fff;
    height: 750px;
    font-family: 'EB Garamond', serif;
    line-height: 1.4;
    font-weight: 700;
    padding: 10px 40px;
}

.speaker-photos {
    position: relative;
    margin: 0 auto;
    height: 320px;
    width: 200px;
}
#speakers img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.ds-photo , .trump-book{
    display: block;
    height: 320px;
    width: 200px;
}

img.ds-photo:hover {
    opacity: 0;
}

h3 {
    text-align: center;
}

#contact {
    background-color: rgba(77, 92, 124, .95);
    font-size: 22px;
    color: #fff;
    text-shadow: 2px 1px #000;
    height: 400px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 2px;
}

.contact-info {
    font-size: 24px;
    color: #000;
    text-shadow: 1px 1px #808080;
}


@media only screen and (max-width: 550px) {

    nav a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 16px;
    }

    .kanga {
        font-size: 18px;
    }
}

@media only screen and (max-width: 390px) {

    nav {
        height: 50px;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 14px;
        line-height: 1.3;
    }

    .kanga {
        font-size: 14px;
    }

    .splash-text {
        background-color: rgba(230, 232, 239, 0.8);
        padding: 8px;
        margin-top: 40px;
    }

    #contact p {
        font-size: 14px;
    }

    footer {
        height: 0px;
    }

}
